@font-face { font-family: "Rubik"; font-weight: 300 900; font-style: normal; font-display: swap; src: url('/assets/fonts/rubik-regular.woff2') format('woff2-variations');}
@font-face { font-family: "Rubik"; font-weight: 300 900; font-style: italic; font-display: swap; src: url('/assets/fonts/rubik-italic.woff2') format('woff2-variations');}
@font-face { font-family: "Open Sans"; font-weight: 300 800; font-stretch: 75% 100%; font-style: normal; font-display: swap;src: url('/assets/fonts/opensans-regular.woff2') format('woff2-variations');}
@font-face { font-family: Open Sans; font-weight: 300 800; font-stretch: 75% 100%; font-style: italic; font-display: swap; src: url('/assets/fonts/opensans-italic.woff2') format('woff2-variations');}
@font-face { font-family: 'FA6 Brands'; src: url("assets/fonts/fa-brands-400.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: 'FA6 Regular'; src: url("assets/fonts/fa-regular-400.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: 'FA6 Solid'; src: url("assets/fonts/fa-solid-900.woff2") format("woff2"); font-display: swap; }

$brp-l: 1200px;
$brp-m: 768px;
$brp-s: 480px;

$size-values: ( 0: 0, ¼: .25em, ½: .5em, ¾: .75em, 1: 1em, 2: 2em, 3: 3em, 4: 4em, 5: 5em ); // alt + : 172 → ¼ ; 171 → ½ ; 243 → ¾ 
$dynamic-size-values: ("½-1": var(--dynamic-space-½-1), "½-2": var(--dynamic-space-½-2), "1-2": var(--dynamic-space-1-2), "1-5": var(--dynamic-space-1-5),  "3-5": var(--dynamic-space-3-5) );
$scale: (100, 200, 300, 400, 450, 500, 600, 700, 800, 900, 1000);

@mixin sizes($attr, $important: false) { @each $size, $value in $size-values {
	&-#{$size} { @if $important {#{$attr}: $value !important;} @else {#{$attr}: $value;} }
}} // margin, padding and gaps
@mixin dynamic-sizes($attr, $important: false) { @each $size, $value in $dynamic-size-values {
	&-#{$size} { @if $important {#{$attr}: $value !important;} @else {#{$attr}: $value;} }
}} // margin, padding and gaps
@mixin scale($attr, $important: false) { @each $step in $scale {
	&-#{$step} { @if $important {#{$attr}: #{$step} !important;} @else {#{$attr}: #{$step}} }
}} // used in .fw-
@mixin scale-var($attr, $var, $important: false) { @each $step in $scale {
	&-#{$step} { @if $important {#{$attr}: var(--#{$var}-#{$step}) !important; } @else {#{$attr}: var(--#{$var}-#{$step}) }}
}} // used in .fs-

@mixin media($break-point: $brp-m) {@media screen and (max-width: #{$break-point}) {@content}};
@mixin media-min($break-point: $brp-m) {@media screen and ( width > #{$break-point}) {@content}};
@mixin flow { > :where(:not(:first-child)) {margin-top: var(--flow-space, 1em);} }

:root {
	//color-scheme: light dark;

	--ff-base: "Open Sans", sans-serif;
	--ff-accent: "Rubik", sans-serif;
	--ff-hand: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

	--content-max-width: 1000px;
	--dynamic-space-½-1: clamp(0.5rem, calc(0.19rem + 0.93vw), 1rem);
	--dynamic-space-½-2: clamp(0.5rem, calc(-0.44rem + 2.79vw), 2rem);
	--dynamic-space-1-2: clamp(1rem, calc(0.37rem + 1.86vw), 2rem);
	--dynamic-space-1-5: clamp(1rem, -1.51rem + 7.44vw, 5rem);
	--dynamic-space-3-5: clamp(3rem, 1.74rem + 3.72vw, 5rem);


	--clr-text: hsl(0, 0%, 20%);
	--clr-text-accent: hsl(0, 0%,0%);

	--clr-background: hsl(208, 7%,100%);
	--clr-accent-background: cornsilk;
	--clr-warning-background: hsl(0, 94%, 87%);

	--clr-primary-light: hsl(208, 40%, 80%);
	--clr-primary: hsl(208, 60%, 60%);
	--clr-primary-dark: hsl(208, 60%, 40%);
	--clr-secondary-light: hsl(139, 30%, 78%);
	--clr-secondary: hsl(140, 40%, 45%);
	--clr-secondary-dark: hsl(140, 40%, 30%);
	--clr-accent-light: hsl(39, 100%, 84%);
	--clr-accent: hsl(39, 90%, 54%);
	--clr-accent-dark: hsl(39, 90%, 40%);
	--clr-warning: firebrick;
	

	--grey-300: hsl(0 0% 30%);
	--grey-500: hsl(0 0% 50%);
	--grey-700: hsl(0 0% 70%);
	--grey-900: hsl(0 0% 90%);
	--white: hsl(0 0% 100%);

	// Dynamic font size (540px – 1400 px)
	--fs-200: .8rem;
	--fs-300: .9rem;
	--fs-400: 1rem;
	--fs-450: clamp(1.05rem, calc(1.02rem + 0.09vw), 1.1rem);
	--fs-500: clamp(1.13rem, calc(1.05rem + 0.23vw), 1.25rem);
	--fs-600: clamp(1.27rem, calc(1.08rem + 0.55vw), 1.56rem);
	--fs-700: clamp(1.42rem, calc(1.09rem + 0.98vw), 1.95rem);
	--fs-800: clamp(1.60rem, calc(1.07rem + 1.56vw), 2.44rem);
	--fs-900: clamp(1.80rem, calc(1.02rem + 2.33vw), 3.05rem);

	//--select-arrow: url("data:image/svg+xml; utf8, <svg width='24' height='24' fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='m7 10 5 5 5-5z'/></svg>");

	@media (prefers-color-scheme: /* dark */ none) {
		//--select-arrow: url("data:image/svg+xml; utf8, <svg width='24' height='24' fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='m7 10 5 5 5-5z'/></svg>");
	}

}

// Reset
*, *::after, *::before {margin: 0; box-sizing: border-box; font-size: inherit; }
html {color-scheme: dark light;}
:has(:target){ scroll-behavior: smooth; scroll-padding-top: 10em; }
body {font-family: var(--ff-base); color: var(--clr-text); font-size: var(--fs-400); line-height: 1.5; background-color: var(--clr-background); }
h1, h2, h3, h4, h5, h6 {font-family: var(--ff-accent); line-height: 1.1; color: var(--clr-text-accent); text-wrap: balance; letter-spacing: -.02em;}
h1 {font-size: var(--fs-900);}
h2 {font-size: var(--fs-800); --flow-space: 1.5em}
h3 {font-size: var(--fs-700);}
h4 {font-size: var(--fs-600);}
h5 {font-size: var(--fs-500);}
h6 {font-size: var(--fs-400);}
p { --flow-space: .5em; }
a {transition: all .2s; color: steelblue;}
a:not(.btn):hover {color: var(--clr-accent)}
img {display: block; max-width: 100%;}
ul, ol {padding-left: 1.5em; --flow-space: .5em;}
sub, sup {line-height: 0; font-size: 0.7em;}
strong { font-weight: 700; color: var(--clr-primary) }
em { color: var(--clr-primary) }

// Navigation
nav {
	ul {list-style: none; padding: 0;}
	> ul {display: flex; gap: 1em;}
	li > ul {position: absolute; max-height: 0; overflow: hidden; transition: all .3s; width: max-content; }
	li:hover > ul {max-height: var(--height, 10rem);}
	li {position: relative; cursor: pointer; }
	a {text-decoration: none; color: inherit;}

	@include media { 
		position: absolute; top: 0; left: 0; background-color: var(--clr-background); width: 0; overflow: hidden; transition: all .2s;
		> ul {display: block; margin-left: 1em;}
		li > ul {position: static; max-height: none; margin-left: 1em;}
		&.active { width: 100vw; }
	 }
}

// Form
button, input[type=submit], .btn {
	cursor: pointer; display: block; text-decoration: none; padding: .5em 1em; transition: all .2s; width: fit-content; font-family: inherit;
	background: var(--btn-clr, none); color: var(--text-clr, currentColor); border: 1px solid var(--btn-clr, currentColor); line-height: inherit;
	&:hover {background: var(--btn-clr-hover, none); color: var(--text-clr-hover, var(--btn-clr, currentColor));}
}
.btn-primary { --btn-clr: var(--clr-primary); --text-clr: var(--white); --btn-clr-hover: var(--clr-primary-dark); --text-clr-hover: var(--white); }


input, select, textarea {
	font-family: var(--ff-base); font-size: inherit; padding: .25em; color: currentColor; border: 1px solid currentColor; background-color: var(--clr-background); min-width: 0;
}
option { color: grey; }
textarea {resize: vertical; min-height: 8em; width: 100%;}
:disabled{color: var(--grey-500);}


// Layout
.wrapper {width: min( 100% - 2 * var(--dynamic-space-1-2), var(--content-max-width)); margin-inline: auto;}
.flow > :where(:not(:first-child)) {margin-top: var(--flow-space, 1em);}

.flex {display: flex; @include media {flex-direction: column;} }
.flex-s {display: flex;}
.ai-center {align-items: center;}
.ai-start {align-items: start;}
.ai-end {align-items: end;}
.ai-first-baseline {align-items: first baseline;}
.jc-center {justify-content: center;}
.jc-space-between {justify-content: space-between;}
.jc-space-around {justify-content: space-around;}
.fl-1 {flex: 1;}
.fl-2 {flex: 2;}
.fl-3 {flex: 3;}
.fl-4 {flex: 4;}
.fl-wrap {flex-wrap: wrap;}
.fl-column {flex-direction: column;}

.grid {display: grid;}
.col-2 { grid-template-columns: 1fr 1fr; @include media {grid-template-columns: 1fr;} }

.gap { @include sizes(gap); @include dynamic-sizes(gap);}

.fit-cover {width: 100%; height: 100%; object-fit: cover; }
.full-width {width: 100%;}

.desktop {@include media {display: none !important;}}
.phone {display: none; @include media {display: block;}}

// Utilities
.mt { @include sizes(margin-top); @include dynamic-sizes(margin-top); }
.mb { @include sizes(margin-bottom); @include dynamic-sizes(margin-bottom); }
.mx { @include sizes(margin-inline); @include dynamic-sizes(margin-inline); }
.mx-auto {margin-inline: auto;}
.p { @include sizes(padding); @include dynamic-sizes(padding); }
.px { @include sizes(padding-inline); @include dynamic-sizes(padding-inline); }
.py { @include sizes(padding-block); @include dynamic-sizes(padding-block); }

.ta-center {text-align: center;}
.ta-justify {text-align: justify;}
.ta-right {text-align: right;}

.ff-base { font-family: var(--ff-base) ;}
.ff-accent { font-family: var(--ff-accent) ;}
.ff-fas {font-family: "FA6 Solid";}
.ff-far {font-family: "FA6 Regular";}
.ff-fab {font-family: "FA6 Brands";}

.italic {font-style: italic;}
.fw { @include scale(font-weight) }
.fs { @include scale-var(font-size, fs); }

.uppercase {text-transform: uppercase;}
.clr-text {color: var(--clr-text);}
.clr-primary {color: var(--clr-primary);}
.clr-grey-700 {color: var(--grey-700);}
.clr-grey-500 {color: var(--grey-500);}
.clr-white { color: var(--white);}
.bg-primary {background-color: var(--clr-primary);}
.bg-grey-900 { background-color: var(--grey-900);}
.bg-accent { background-color: var(--clr-accent-background);}
.bg-background {background-color: var(--clr-background);}

.border-grey-700 {border: 1px solid var(--grey-700) !important;}

.nude {border: none; padding: 0;}

// Font Awesome classes
:is(.fas, .far, .fab)::before {display: inline-block; width: 1.5em;}
.fas::before {font-family: "FA6 Solid", sans-serif;}
.far::before {font-family: "FA6 Regular", sans-serif;}
.fab::before {font-family: "FA6 Brands", sans-serif;}
.fa-home::before {content: "\f015"}
.fa-phone::before {content: "\f879"}
.fa-mail::before {content: "\f0e0"}
.fa-address::before {content: "\f3c5"}
.fa-website::before {content: "\f0ac"}
.fa-facebook::before {content: "\f09a"}
.fa-linkedin::before {content: "\f0e1"}
.fa-twitter::before {content: "\f099"}
.fa-instagram::before {content: "\f16d"}
.fa-youtube::before {content: "\f167"}