body.home {
	main{ gap: 3em; }
}

body.gestionnaire-mj {
	main {display: block;}
	article {width: unset; max-width: 100%; min-height: unset; padding-bottom: 1em; }
	article:not(:first-of-type){margin-top: 2em;}
	//article#liste-personnages {scroll-margin-top: 50px;}
	//#items-form { gap: .25em; @include media ($brp-s) { gap: .5em; } }
	.card {
		/* width: 350px; */ border: 1px solid var(--grey-900); border-radius: 1em; padding: var(--dynamic-space-½-1); max-width: 100%;
		@include media ($brp-s) { /* width: 100%; */ }
	}
	.single-item-wrapper {
		grid-template-columns: 4ch 1fr 4ch 5ch 7ch 1fr 1fr; grid-template-areas: "id name container weight location notes notes-mj";
		border: .5px solid var(--grey-700); border-radius: .5em; padding: .15em;
		input[type=text] { border: none; }
		@include media ($brp-s) {
			grid-template-columns: 4ch 1fr 4ch 5ch 7ch;
			grid-template-areas: "id name container weight location" "id notes notes-mj notes-mj notes-mj"; }
	}
}

body.personnage-fiche {

	.main-header { row-gap: 1em; }
	.main-header .titles-wrapper {
		> a > img { max-width: 32px; }
		> div { display: flex; }
		> div > h2 {display: none;}
	}

	main { gap: .5em;  max-width: 1600px; margin-inline: auto; @include media { display: block; } }
	.character-sheet-wrapper { columns: 250px auto; column-gap: .5em; flex: 1;/*  @include media($brp-s) { columns: unset; } */ }

	fieldset { border: 1px solid var(--grey-700); break-inside: avoid-column; margin-top: 1em; max-height: 600px; overflow-y: auto; }

	summary:has(h3) { border-radius: .5em; }

	.clr-grey-500 meter {opacity: .1;}
	.pdx-meter { width: 100%; }

	details.liste {
		&[open] { background-color: unset; padding: unset; padding-block: .25em }
		&:first-of-type{ margin-top: unset; }
	}

	input[type=text] {border: none; border-bottom: .5px solid var(--grey-900);}
	input[type=text]:focus {outline: none; border-bottom: .5px solid hsl(207, 44%, 49%, .5);}

	#form-equipment {
		.group-share-input:has(:checked) { background-color: var(--clr-secondary-dark); color: var(--white); border-radius: .25em; }
	}

	details.items-list{
		transition: all .1s; font-size: var(--fs-300);
		summary {grid-template-columns: 1ch 1fr 5ch 1ch;}
		&.drag-over {padding-bottom: 2em;}
	}

	[data-type=throwable-wrapper] {cursor:alias; &:hover { background-color: var(--clr-primary-light); }}

	.portraits-wrapper {
		display: grid; gap: .5em;
		.character-portrait { aspect-ratio: 1; }
		.group-portraits { display: grid; gap: .5em; align-self: flex-start;}
		img { width: 100%; height: 100%; object-fit: cover; }

		&.group-none {
			.group-portraits { display: none; }
		}
		&.group-small {
			grid-template-columns: 1fr .38fr;
			.group-portraits { grid-template-columns: 1fr }
			.group-member-name { font-size: .85em; }
		}
		&.group-medium {
			grid-template-columns: 1fr .75fr;
			.group-portraits { grid-template-columns: 1fr 1fr }
			.group-member-name { font-size: .85em; }
		}
		&.group-big {
			grid-template-columns: 1fr 1.3fr;
			.group-portraits { grid-template-columns: 1fr 1fr 1fr }
			.group-member-name { font-size: .65em; }
		}
	}

	#chat-container { border: 1px solid black; @include media-min($brp-m) {width: 280px;} @include media ($brp-m) { margin-top: 1em; } }

	@media print {
		header, meter, footer, .no-print, [data-role=container-controls] { display: none; }
		main { column-width: 200px; }
		fieldset { max-height: none; break-inside: auto; }
	}
}

body.personnage-gestion {
	main {display: block; /* min-height: 800px */}
	#noyau {display: flex; justify-content: center; flex-wrap: wrap; gap: var(--dynamic-space-3-5);}
	article:first-of-type {width: 350px; flex: 0;}
	article { flex: 1; max-width: 700px;}
	.h3 {margin-top: 0;}

	input[type=text]{border: none; border-bottom: 1px solid var(--grey-700); padding-bottom: 0.15em;}
	input[type=text]:not(.fs-500, .fs-600, .fs-700) {font-size: var(--fs-300);}
	textarea {border: 1px solid var(--grey-700); padding: 0.5em; width: 100%;}

	summary.add-character-element {
		background-color: var(--grey-700); margin: 1.5em auto 1em; color: white; padding: 0.25em; width: 50%; text-align: center; display: flex; transition: all .3s; border: 1px solid var(--grey-700); gap: 1em; align-items: center; justify-content: center;
		&::after {content: " \f055"; font-family: "FA6 Solid"; display: block; transition: inherit;}
		&:hover {background-color: white; color: var(--clr-text);}
		@include media { width: 80%; }
	}

	details[open] summary.add-character-element::after {transform: rotate(45deg)}
	
	.radio-wrapper {width: 100px; text-align: center}
	.radio-wrapper input[type=radio] {margin: 0}
}

body.gestionnaire-listes {
	main {display: block}
	article {width: unset; min-height: 50vh; max-width: 1000px; margin: 0 auto;}
	textarea {padding: 1em; border: 1px solid var(--grey-700); height: 30em;}
}

body.test {
	main {display: block;}
}

body.table-jeu {
	header{background-image: linear-gradient(180deg, #fff0 0%, black 100%), url(/assets/img/bg-header-table.jpg);}

	main { padding: 1em; background: url(/assets/img/bg-table.jpg) center/cover; @include media {flex-direction: column-reverse; padding: .5em;} }

	#widgets-container {
		flex: 1; position: relative; columns: 320px auto; column-gap: 1em;
		@include media ($brp-s) {columns: 1; margin-top: 1em;}

		#widgets-help-dialog-btn { position: absolute; top: 0; right: .5em; @include media {top: -.5em;}}

		fieldset {
			break-inside: avoid; margin-bottom: .5em; max-width: calc(100vw - 1em);  background: #fff5;
			legend {color: white; font-family: var(--font-accent); font-weight: bold; font-size: var(--fs-450)}
			input:not([type=checkbox]), select { width: 6ch; } // default width, allow {flex: 1} to work
		}
	}

	#chat-container {
		width: 350px; align-self: flex-start; @include media () { width: 100%; }
	}
}

body.not-found {
	main {display: block;}
}

body.writing-scenario {

	h5 {font-size: var(--fs-400); color: var(--clr-text); margin-top: var(--dynamic-space-½-1)}

	summary.h4 {font-size: var(--fs-450);}

	details:has(> summary.h4){
		margin-top: .5em;

		&[open] { border-bottom: 1px solid var(--grey-700);}
	}
}

body.wiki {
	main {justify-content: left;}
	aside.nav {
		width: clamp(200px, 20vw, 300px); border: 1px solid black; background-color: var(--white);
		@include media {width: unset;}

		h4 { margin: .75em 0 .25em; }
		p {padding-block: .15em; padding-left: .25em;}
		p.child-article { padding-left: .75em }
		a { text-decoration: none; color: inherit; display: block; }
		p:has(.active-link), p:hover { background-color: var(--clr-primary); color: var(--white) }
		p.child-article:has(.active-link), p.child-article:hover { background-color: var(--clr-accent-dark); color: var(--white) }
		//.subsection { padding-left: .75em; padding-block: .1em; }
	}
	.article-wrapper {
		flex: 1; padding-inline: var(--dynamic-space-1-5); padding-block: var(--dynamic-space-1-2); border: 1px solid black; background-color: var(--white); @include flow; max-width: 1000px;

		.wiki-right-element {
			float: right; max-width: 30%; margin: .25rem 0 .25rem var(--dynamic-space-1-2); 
			@include media { float:none; max-width: unset; margin-left: 0; }
		}

		h2 { margin-bottom: 1em;}
		h4 {--flow-space: 1.5em; font-size: var(--fs-500); }
		h5 {font-size: var(--fs-450); }
		p {text-align: justify; hyphens: auto;}

		summary:has(h3){ font-size: var(--fs-600); background: unset; padding: unset; border-bottom: 1px solid black; }
		> details { @include flow; }
		> details:has(summary>h3) { --flow-space: var(--fs-600); }

		/* details:has(summary h3) { margin-top: 2em; @include flow; }
		summary:has(h3), > h3 { margin-bottom: 1em; border-bottom: 1px solid var(--clr-text); overflow: hidden; }
		summary:has(h3)::after { font-size: var(--fs-600);} */
	}
/* 	.article-content-wrapper {
		display: flex; gap: var(--dynamic-space-3-5); margin-top: var(--dynamic-space-1-2);
		@include media { flex-direction: column;}

		article { flex: 2; background-color: transparent; box-shadow: none; @include flow; margin-top: 0;}
		aside {flex: 1; @include flow;}

		h4 {--flow-space: 1.5em; font-size: var(--fs-500); }
		h5 {font-size: var(--fs-450); }
		p {text-align: justify; margin: var(--flow-space) 0 0;}

		details:has(summary h3) { margin-top: 2em; @include flow; }
		summary:has(h3), :not(summary) > h3 { margin-bottom: 1em; border-bottom: 1px solid var(--clr-text); }
		summary:has(h3)::after { font-size: var(--fs-600);}
	} */
	

}

