body.basic-page{
	main { width: min(100%, var(--content-max-width)); margin-inline: auto; @include flow; }
}

body.standard-page {
	main { display: flex; gap: 1em; flex-wrap: wrap;  gap: 1em; }
	aside.left:empty + main { justify-content: center; }

	//aside { border: 1px solid var(--grey-700); border-radius: 1em; }

	:is(section, article) { border: 1px solid var(--grey-700); border-radius: 1em; box-shadow: var(--box-shadow); width: var(--col-width);  margin-top: .75em; }
	:is(section, article) h2 { color: var(--white); font-size: var(--fs-450); margin: -1.25rem 0 1em; padding: .25em; }
	:is(section, article) h2:not(.bg-primary-500, .bg-secondary-500, .bg-tertiary-500) { background-color: var(--black);  }
	:is(section, article) h3 { font-size: var(--fs-450) }
	
	summary:has(h3) { background-color: var(--grey-900); padding: .5em; --marker-offset-r: .5em; --marker-padding: 1.75em}
	details:has(> summary > h4) { border-block: .5px solid var(--grey-700); padding-block: .25em; }
}

body.home {
	main { @include flow; }
	aside.left { @include media { display: none; } }
}

body.table-jeu {
	header{background-image: linear-gradient(180deg, #fff0 0%, black 100%), url("/assets/img/bg-header-table.jpg");}

	#page-wrapper { background: url("/assets/img/bg-table.jpg") center/cover; }

	main {
		position: relative; columns: var(--col-width) auto; column-gap: 1em;
		fieldset { margin-bottom: .5em; }
		@include media ($brp-s) {columns: 1;}

		#widgets-help-dialog-btn { position: absolute; top: .5em; right: .5em;}

		fieldset {
			background-color: #fff5;
			legend {color: white; font-family: var(--font-accent); font-weight: bold; font-size: var(--fs-450)}
			input:not([type=checkbox]), select { width: 5ch; }
		}
	}

	aside.right { margin-top: .75em; }
}

body.personnage-fiche {
	--col-width: 320px;
	.main-header { row-gap: 1em; }
	.main-header .titles-wrapper {
		> a > img { max-width: 32px; }
		> div { display: flex; }
		> div > p {display: none;}
	}

	main { columns: var(--col-width) auto; column-gap: .5em; flex: 1; }
	aside.right { @include media-min {padding-left: 0; padding-top: .85em;} }

	.portraits-wrapper {
		display: grid; gap: .5em;

		&.group-none { grid-template-columns: 1fr; }
		&.group-small { grid-template-columns: repeat(3, 1fr); }
		&.group-medium { grid-template-columns: repeat(4, 1fr); }
		&.group-big { grid-template-columns: repeat(5, 1fr); }

		.character-portrait { grid-column: span 2; grid-row: span 2; }
		&.group-none .character-portrait { max-width: 50%; margin-inline: auto }

		.group-portrait {
			aspect-ratio: 1; position: relative;
			.group-member-name { position: absolute; bottom: .25em; left: 50%; transform: translateX(-50%) ; color: white; text-shadow: 1px 1px 1px black; }
		}
	}

	fieldset { break-inside: avoid-column; margin-top: 1em; max-height: 600px; overflow-y: auto; background-color: var(--white); padding-inline: .75em; }

	details:has(summary > h3) { border: 1px solid var(--grey-700); border-radius: .5em; padding: .5em; background-color: var(--white); }

	.clr-grey-500 meter {opacity: .1;}
	.pdx-meter { width: 100%; }

	details.liste {
		&[open] { background-color: unset; padding: unset; padding-block: .25em }
		&:first-of-type{ margin-top: unset; }
	}

	details.sous-liste {
		--flow-space: 0; --marker-closed: none; --marker-open: none;
		&[open] { background-color: antiquewhite; padding-inline: .15em; padding-bottom: .5em; }
	}

	input[type=text] {border: none; border-bottom: .5px solid var(--grey-900);}
	input[type=text]:focus {outline: none; border-bottom: .5px solid hsl(207, 44%, 49%, .5);}

	#form-equipment {
		
		details.container-wrapper {
			--flow-space: .75em;  --marker-closed: none; --marker-open: none;
			.group-share-input:has(:checked) { background-color: var(--clr-secondary-500); color: var(--white); border-radius: .25em; }
			> summary { padding-right: 0; }
		}
		details.items-list {
			transition: all .1s; font-size: var(--fs-300); --flow-space: .25em;
			summary {grid-template-columns: 1ch 1fr 5ch;}
			summary :first-child::after { cursor: pointer; top: .25em }
			&.drag-over {padding-bottom: 2em;}
		}
		:is(input:not([type=checkbox]):not([type=radio]), textarea).watched {
			&:not(:placeholder-shown):valid { outline: unset }
			&:not(:placeholder-shown):invalid { outline: 1px solid var(--clr-invalid) }
		}

	}

	[data-type=throwable-wrapper] {cursor:alias; &:hover { background-color: var(--clr-primary-900); }}

	#chat-container {
		border: 1px solid var(--grey-700); position: sticky; top: 1em;
		#chat-dialog-wrapper { height: 55vh;}
	}

	footer { display: none; }

	@media print {
		header, meter, footer, .no-print, [data-role=container-controls] { display: none; }
		main { column-width: 200px; }
		fieldset { max-height: none; break-inside: auto; }
	}
}

body.personnage-gestion {
	main { padding-inline: 0; max-width: 1200px; margin-inline: auto}
	input[type=text]:not(.border-grey-700){ border: unset; border-bottom: .5px solid var(--grey-900); padding-bottom: 0.15em; }
	textarea {border: 1px solid var(--grey-700); padding: 0.5em; width: 100%;}
	.radio-wrapper { display: flex; gap: .25em; justify-content: center; width: 10ch; }
	dialog {width: clamp(340px,80vw,550px);}
	dialog.add-character-element > details:not(:first-child) { margin-top: 1em; }
}

body.gestionnaire-mj {
	main { display: block; }
	:is(article, section) {width: unset;}
	:is(article, section):not(:first-of-type) { margin-top: 2em; }
	.card { border: 1px solid var(--grey-900); border-radius: 1em; padding: var(--dynamic-space-½-1);}
	.single-item-wrapper {
		grid-template-columns: 4ch 1fr 4ch 5ch 7ch 1fr 1fr;
		grid-template-areas: "id name container weight location notes notes-mj";
		border: .5px solid var(--grey-700); border-radius: .5em; padding: .15em;
		input[type=text] { border: none; }
		@include media ($brp-s) {
			grid-template-columns: 4ch 1fr 4ch 5ch 7ch;
			grid-template-areas: "id name container weight location" "id notes notes-mj notes-mj notes-mj"; }
	}

	.card-character {
		--clr-valid: hsl(120, 50%, 75%);
		--clr-fair: hsl(60, 85%, 70%);
		--clr-warning: hsl(39, 90%, 80%);
		--clr-invalid: hsl(0, 90%, 70%);
	}
	
	#chat-container {
		position: sticky; top: 1em;
		#chat-dialog-wrapper { height: 55vh; }
	}

	[data-details] { cursor: help; }
}

body.wiki {

	--col-width: 250px;

	aside.left {@include media { display: none }}
	details.phone-index { background-color: var(--grey-900); padding: .15em; --marker-offset-r: .25em }

	aside.left, details.phone-index {
		a { display: block; --flow-space: .15em; text-decoration: none; color: inherit; width:fit-content }
		a.active-link { font-weight: 700; }
		a.child-article { margin-left: 1em; --flow-space: 0; }
	}

	main {
		@include flow;
		@include media-min ($brp-l) { position: relative; width: calc(100vw - var(--col-width) * 2 - 6em); max-width: 800px; }
	}

	section { margin-top: 2em; padding: 0; }

	.wiki-right-element {
		@include flow;
		//width: var(--col-width); position: absolute; left: calc(100% + 2em); margin-top: 0;
		@include media-min ($brp-l) { width: var(--col-width); position: absolute; left: calc(100% + 2em); margin-top: 0; }
		img { max-height: 50vh; margin-inline: auto; }
	}
	
	h1 { @include media-min { --flow-space: 0; } }
	h2 { font-size: var(--fs-600); border-bottom: 1px solid var(--black); padding-bottom: .15em }
	h3 { font-size: var(--fs-500); }
	h4 { font-size: var(--fs-450); }
	h5 { font-size: var(--fs-400); }
	figcaption {text-align: center; font-style: italic;}
	.float-left { float: left; margin-right: 1rem;  max-width: 50%; --flow-space: .5em;}

	details:has(> summary > h3) { margin-top: 1.5em; }

	.admin { color: var(--grey-500); border: .5px solid var(--grey-700); padding: .5em; }
	ul.admin { padding-left:1.5em; }
}

body.account-page {
	.option-grid { grid-template-columns: 250px 1fr; column-gap: 2em; @include media { grid-template-columns: 1fr; } }
	.option-grid:not(:first-child) { border-top: .5px solid var(--grey-700); }
}

body.writing-scenario {
	counter-reset: plot-counter;
	details.plot-type { counter-increment: plot-counter; }
	details.plot-type > summary::before { content: counter(plot-counter) ". "; }
}