body.home {
	main{ gap: 3em; }
}

body.gestionnaire-mj {
	main {flex-direction: column;}
	article {width: unset; max-width: 100%; }
	article#liste-personnages {scroll-margin-top: 50px;}
	.card {
		width: 350px; border: 1px solid var(--grey-900); border-radius: 1em; padding: var(--dynamic-space-½-1); max-width: 100%;
	}
}

body.personnage-fiche {

	article {
		box-shadow: 2px 2px 2px silver; padding: .5em; min-height: 450px; width: 350px; background: var(--white);
		@include media { width: 100%; min-height: 0; box-shadow: none; }
	}
	details.objet summary {padding: 0;}
	details summary.h4 {font-size: var(--fs-500); font-weight: 700; padding: 0;}

	.clr-grey-500 meter {opacity: .1;}

	input[type=text] {border: none; border-bottom: 0.5px solid var(--grey-900)}
	input[type=text]:focus {outline: none; border: .5px solid hsl(207, 44%, 49%, .5);}

	#form-equipment {
		.group-share-input:has(:checked) { background-color: var(--clr-secondary-dark); color: var(--white); border-radius: .25em; }
	}

	details.items-list{
		transition: all .1s;
		summary {grid-template-columns: 1ch 1fr 5ch 1ch;}
		
		&.drag-over {padding-bottom: 2em;}
	}

	[data-type=throwable-wrapper] {cursor:alias}

	details.liste > summary {margin-top: 3px;}

	@media print { /* fiche perso en A4 portrait */
		width: 20cm; margin: 0;
		//border: 1px solid black;
		background-image: none; font-size: 11px; color: black;

		header, meter, footer, .no-print, [data-role=container-controls] {display: none}
		main { display: block; column-count: 3; column-gap: .5cm; column-rule: 1px solid var(--grey-900); padding: .5cm; min-height: 0; }
		article { width: auto; min-height: 0; box-shadow: none; padding: 0; }
		article:not(:first-of-type) { margin-top: 1cm; }
		h4, legend { font-size: 14px; break-inside: avoid; }
		details.liste[open] {background-color: transparent;}
		[data-role=container-wrapper], .no-break-inside { break-inside: avoid; }
	}
}

body.personnage-gestion {
	main {display: block; /* min-height: 800px */}
	#noyau {display: flex; justify-content: center; flex-wrap: wrap; gap: var(--dynamic-space-3-5);}
	article:first-of-type {width: 350px; flex: 0;}
	article { flex: 1; max-width: 700px;}
	.h3 {margin-top: 0;}

	input[type=text]{border: none; border-bottom: 1px solid var(--grey-700); padding-bottom: 0.15em;}
	input[type=text]:not(.fs-500, .fs-600, .fs-700) {font-size: var(--fs-300);}
	textarea {border: 1px solid var(--grey-700); padding: 0.5em; width: 100%;}

	summary.add-character-element {
		background-color: var(--grey-700); margin: 1.5em auto 1em; color: white; padding: 0.25em; width: 50%; text-align: center; display: flex; transition: all .3s; border: 1px solid var(--grey-700); gap: 1em; align-items: center; justify-content: center;
		&::after {content: " \f055"; font-family: "FA6 Solid"; display: block; transition: inherit;}
		&:hover {background-color: white; color: var(--clr-text);}
		@include media { width: 80%; }
	}

	details[open] summary.add-character-element::after {transform: rotate(45deg)}
	
	.radio-wrapper {width: 100px; text-align: center}
	.radio-wrapper input[type=radio] {margin: 0}
}

body.gestionnaire-listes {
	main {display: block}
	article {width: unset; min-height: 50vh; max-width: 1000px; margin: 0 auto;}
	textarea {padding: 1em; border: 1px solid var(--grey-700); height: 30em;}
}

body.test {
	main {display: block;}
}

body.table-jeu {
	header{background-image: linear-gradient(180deg, #fff0 0%, black 100%), url(/assets/img/bg-header-table.jpg);}

	main { padding: 1em; background: url(/assets/img/bg-table.jpg) center/cover; @include media {flex-direction: column-reverse; padding: .5em;} }

	#widgets-container {
		display: flex; flex-wrap: wrap; flex: 1; position: relative; gap: .5em;
		@include media {flex-direction: column; margin-inline: auto; margin-top: 1em;}

		#widgets-help-dialog-btn { position: absolute; top: 0; right: .5em; @include media {top: -.5em;}}

		.widgets-column { display: grid; gap: 0.5em; height: fit-content; /*  width: min(350px, 100%); */}

		fieldset {
			width: 350px; max-width: calc(100vw - 1em);  background: #fff5;
			legend {color: white; font-family: var(--font-accent); font-weight: bold; font-size: var(--fs-450)}
			input:not([type=checkbox]), select { width: 6ch; } // deffault width, allow {flex: 1} to work
		}
	}

	#chat-container {
		width: min(350px, 100%); background: white; padding: 1em; border-radius: .75em; position: relative; align-self: flex-start;
		@include media {margin-inline: auto;}

		#connected-users{
			border-bottom: .5px solid var(--grey-700); margin-bottom: 5px; min-height: 1.9em; padding-right: 2em;
			@include media { min-height: 0; }
		}
		#chat-dialog-wrapper{overflow-x: hidden; height: 40vh; padding-right: .75em; @include media { height: 24vh; }}
		#chat-help-dialog-btn { position: absolute; top: .5em; right: .5em;}
		#chat-input-wrapper {display: grid; width: 100%; background: #fff; border-top: 1px solid var(--grey-700); padding-top: 0.5em; margin-top: 1em;}
		#msg-input {height: 6em; min-height: 0; border: 1px solid var(--grey-900); margin-top: .5em; resize: none; @include media { height: 4em; }}

		.chat-message-wrapper {
			.chat-message-header { font-weight: 600; font-size: var(--fs-300);}
			.chat-message-content {
				background-color: var(--user-color, white); max-width: 90%; width: fit-content; position: relative;
				border-radius: .5em; padding: .25em .5em; margin: .25em 0; box-shadow: 1px 1px 3px #0003;
				&::before { display: block; position: absolute; right: 0; transform: translateX(100%) ; top: .25em; }
			}

			&.self-message {
				--user-color: var(--grey-900); text-align: right;
				.chat-message-content {margin-left: auto;}
				.chat-message-content::before { transform: translateX(-100%); left: 0.4em; right: unset; }
			}
			
			// bg color depends on user id modulo 7 (see game-table.js)
			&.bg-color-user-1 { --user-color: hsl(200, 50%, 90%); }
			&.bg-color-user-2 { --user-color: hsl(220, 50%, 90%); }
			&.bg-color-user-3 { --user-color: hsl(190, 50%, 90%); }
			&.bg-color-user-4 { --user-color: hsl(55, 50%, 90%); }
			&.bg-color-user-5 { --user-color: hsl(47, 50%, 90%); }
			&.bg-color-user-6 { --user-color: hsl(270, 50%, 90%); }
			&.bg-color-user-7 { --user-color: hsl(240, 50%, 90%); }

			.chat-roll::before { content:"🎲" ; }
			&.is-private .chat-message-content::before { content:"🤫" ; }
			&.is-private .chat-message-content.chat-roll::before { content:"🤫🎲" ; }

			&.same-routing {
				margin-top: .5em;
				.chat-message-header { display: none }
			}
		}
	}
	
}

body.not-found {
	main {display: block;}
}

body.scenarii {
	main {display: block;}
}

body.scenario {
	main {display: block;}

	.scenario-body {
		grid-template-columns: repeat(3, 1fr);
		@include media($brp_l){ grid-template-columns: 1fr 1fr;}
		@include media($brp_m){ grid-template-columns: 1fr;}

		h2 {font-size: var(--fs-600); border-bottom: 1px solid var(--clr-text);}
		h3 {font-size: var(--fs-500);}
		h4 {font-size: var(--fs-450);}
		h5 {font-size: var(--fs-400);}
		h6 {font-size: var(--fs-400); color: var(--grey-500)}

		> div {
			background-color: var(--clr-background); padding: 1em;
			> :where(:not(:first-child)) {margin-top: var(--flow-space, 1em);}
			> details > :where(:not(:first-child)) {margin-top: var(--flow-space, 1em);}
		}

		.important {border: 1px solid var(--grey-500); padding: 1em;}
		.description {border: 1px solid var(--grey-500); padding: 1em; background-color: var(--grey-900);}

		.img-tiles {
			grid-template-columns: repeat(3, 1fr); gap: var(--dynamic-space-½-1);

			figure {aspect-ratio: 1/1}
			img {object-fit: cover; height: 100%; width: 100%;};

			@include media {grid-template-columns: repeat(2, 1fr);}
		}
	}

}

body.writing-scenario {
	h5 {font-size: var(--fs-400); color: var(--clr-text); margin-top: var(--dynamic-space-½-1)}

	summary.h4 {font-size: var(--fs-450);}

	details:has(> summary.h4){
		margin-top: .5em;

		&[open] { border-top: 1px solid var(--grey-700); border-bottom: 1px solid var(--grey-700);}
	}
}

body.wiki {
	main {justify-content: left;}
	aside.nav {
		width: clamp(200px, 15vw, 300px); border: 1px solid black; background-color: var(--white);
		@include media {width: unset;}

		h4 { margin: .75em 0 .25em; }
		p {padding-block: .15em; padding-left: .25em;}
		p.child-article { padding-left: .75em }
		a { text-decoration: none; color: inherit; display: block; }
		p:has(.active-link), p:hover { background-color: var(--clr-primary); color: var(--white) }
		p.child-article:has(.active-link), p.child-article:hover { background-color: var(--clr-accent-dark); color: var(--white) }
		//.subsection { padding-left: .75em; padding-block: .1em; }
	}
	.article-wrapper {
		flex: 1; padding-inline: var(--dynamic-space-1-5); padding-block: var(--dynamic-space-1-2); border: 1px solid black; background-color: var(--white);

		@include flow;

		.wiki-right-element {
			float: right; max-width: 25%; margin: 0 0 0 var(--dynamic-space-1-2); 
			@include media { float:none; max-width: unset; margin-left: 0; }
		}

		h2 { margin-bottom: 1em;}
		h4 {--flow-space: 1.5em; font-size: var(--fs-500); }
		h5 {font-size: var(--fs-450); }
		p {text-align: justify; /* margin: var(--flow-space) 0 0; */}

		details:has(summary h3) { margin-top: 2em; @include flow; }
		summary:has(h3), > h3 { margin-bottom: 1em; border-bottom: 1px solid var(--clr-text); overflow: hidden; }
		summary:has(h3)::after { font-size: var(--fs-600);}
	}
/* 	.article-content-wrapper {
		display: flex; gap: var(--dynamic-space-3-5); margin-top: var(--dynamic-space-1-2);
		@include media { flex-direction: column;}

		article { flex: 2; background-color: transparent; box-shadow: none; @include flow; margin-top: 0;}
		aside {flex: 1; @include flow;}

		h4 {--flow-space: 1.5em; font-size: var(--fs-500); }
		h5 {font-size: var(--fs-450); }
		p {text-align: justify; margin: var(--flow-space) 0 0;}

		details:has(summary h3) { margin-top: 2em; @include flow; }
		summary:has(h3), :not(summary) > h3 { margin-bottom: 1em; border-bottom: 1px solid var(--clr-text); }
		summary:has(h3)::after { font-size: var(--fs-600);}
	} */
	

}

