<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

	# Redirection anciennes pages
	RewriteRule ^aide-de-jeu-medfan$ /wiki/moyen-age [R=301,L]

    # 1. Gestion des en-têtes d'autorisation
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # 2. Redirection HTTPS et Domaine Unique (toujours en premier)
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^jdr\.pichegru\.net$ [NC]
    RewriteCond %{HTTP_HOST} !^site-jdr$ [NC]
    RewriteRule ^(.*)$ https://jdr.pichegru.net/$1 [R=301,L]

    # 3. Retrait du slash Final (sauf pour les vrais dossiers)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # 4. Sécurité : blocage des dossiers sensibles
    RewriteRule ^(content|src|vendor)/.*$ /not-found [L,R=301]
    RewriteRule ^config\.php$ /not-found [L,R=301]

    # 5. Routeur PHP (rewrite global vers index.php)
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]

</IfModule>

<IfModule mod_headers.c>
    Header set Connection keep-alive
    <filesmatch "\.(ico|flv|gif|woff|woff2|svg)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesmatch>
    <filesmatch "\.(jpg|jpeg|png|webp)$">
        Header set Cache-Control "max-age=1209600, public"
    </filesmatch>
    <filesmatch "\.(css)$">
        Header set Cache-Control "max-age=31536000, private"
    </filesmatch>
    <filesmatch "\.(js)$">
        Header set Cache-Control "max-age=1209600, private"
    </filesmatch>
</IfModule>