@font-face { font-family: "Rubik"; font-weight: 300 900; font-style: normal; font-display: swap; src: url('/assets/fonts/rubik-regular.woff2') format('woff2-variations');}
@font-face { font-family: "Rubik"; font-weight: 300 900; font-style: italic; font-display: swap; src: url('/assets/fonts/rubik-italic.woff2') format('woff2-variations');}
@font-face { font-family: "Open Sans"; font-weight: 300 800; font-stretch: 75% 100%; font-style: normal; font-display: swap;src: url('/assets/fonts/opensans-regular.woff2') format('woff2-variations');}
@font-face { font-family: "Open Sans"; font-weight: 300 800; font-stretch: 75% 100%; font-style: italic; font-display: swap; src: url('/assets/fonts/opensans-italic.woff2') format('woff2-variations');}

:root{
	--ff-base: 'Open Sans', 'sans-serif';
	--ff-accent: 'Rubik', 'sans-serif';
	--page-content-areas: "main main main";
	--col-width: 370px;
	@include media($brp-l) { --col-width: 350px; }
	@include media { --col-width: 100%; }

	--clr-primary-500: hsl(208, 60%, 40%);
	--clr-primary-900: hsl(208, 40%, 80%);
	--clr-secondary-500: hsl(140, 40%, 30%);
	--clr-tertiary-500: hsl(39, 90%, 40%);

	@media print { font-size: 8px; }
}

body:has(nav.active){ max-height: 100dvh; overflow: hidden; }

// page default structure
header, footer {padding: 1em;}
section, article { padding: .5em; }
aside, section, article { @include flow; }

#page-wrapper {
	display: grid; min-height: calc(100vh - 212px); padding: 1em; gap: 1em;
	grid-template-columns: var(--col-width) 1fr var(--col-width);
	@include media ($brp-l) { grid-template-columns: var(--col-width) 1fr; }
	@include media { grid-template-columns: 1fr; }
	&:has(aside.left:empty) { @include media-min {grid-template-columns: 1fr var(--col-width);} }
	&:has(aside.right:empty) { @include media-min {grid-template-columns: var(--col-width) 1fr;} }
	&:has(aside.right:empty):has(aside.left:empty){ grid-template-columns: 1fr; }
}

aside:empty { display: none; }
footer { background: var(--grey-900); text-align: center; font-size: var(--fs-300); }

// basic tags
h1 { font-size: var(--fs-700) }
h2 { font-size: var(--fs-600) }
h3 { font-size: var(--fs-500) }
h4 { font-size: var(--fs-450); --flow-space: 1em; }
h5 { font-size: var(--fs-400); --flow-space: 1em; }
p, ol, ul { text-align: justify; hyphens: auto; }
dfn {text-decoration: underline var(--clr-700); cursor: help;}

// utilities
.gap-¼ { gap: .25em; }
.mt-¼ { margin-top: .25em; }
.px-¼ { padding-inline: .25em }
.fs-200 { font-size: var(--fs-200) }

.edit-link { color: inherit; text-decoration: none; }

.as-start { align-self: flex-start !important; }
.ai-first-baseline { align-items: first baseline; }
.col-3-s {grid-template-columns: repeat(3, 1fr);}

:is(ol, ul).bold-bullet li::marker { font-weight: 700; }
[draggable=true]{cursor: move;}
.no-break { break-inside: avoid; }
.cursor-pointer { cursor: pointer; }

.bg-black { background-color: var(--black); }
.bg-secondary-500 {background-color: var(--clr-secondary-500);}
.bg-tertiary-500 {background-color: var(--clr-tertiary-500);}
.bg-grey-900-if-odd:nth-child(odd) { background-color: var(--grey-900);}
.clr-invalid { color: var(--clr-invalid); }
.clr-secondary-500 { color: var(--clr-secondary-500); }
.clr-tertiary-500 { color: var(--clr-tertiary-500); }

.img-block {
	width: var(--col-width); max-height: 600px;
	img { object-fit: cover; height: 100%; width: 100%; }
}

// forms & buttons
input, select, textarea { padding: .25em; border: 1px solid var(--grey-700) }
.btn-square { width: 1.75em; aspect-ratio: 1; display: grid; place-content: center; line-height: 0; padding: 0; }
.nude { padding: 0; border: none; }
.nude:hover {transform: scale(1.05)}
button:active, .btn:active {transform: scale(.95)}
label:has(input:disabled) { opacity: 0.5; }

details {
	@include flow; --flow-space: .5em; --marker-closed: "☰"; // ☰ or ≡ ?

	&.exemple {
		border: .5px solid var(--clr-primary-500); padding: .25em .5em; position: relative;
		&::before { content: "\f0eb"; font-family: "fas"; position: absolute; top: -.5em; left: -.25em; transform: rotate(-10deg); background-color: white; color: var(--clr-primary-500) }
		summary { color: var(--clr-primary-500); font-weight: 700; }
	}

	&.liste {
		--flow-space: 0; --marker-closed: none; --marker-open: none;
		&:first-of-type { margin-top: .5em; }
		summary { --marker-padding: 0; }
		summary > :first-child { display: flex; gap: .5em; }
		summary > :first-child > :first-child { flex: 1; }
		&[open]{
			background: var(--grey-900); padding: .25em;
			> summary {font-weight: bold;}
		}
	}

}

table {
	width: 100%;

	th, td {padding: 0 .25em; text-align: center;}
	tr:nth-child(even){background-color: var(--grey-900);}

	&.alternate-o {
		tr:nth-child(odd){background-color: var(--grey-900);}
		tr:nth-child(even){background-color: unset;}
	}
	&.left-1 { :is(td, th):nth-child(1){text-align: left;} }
	&.left-2 { :is(td, th):nth-child(2){text-align: left;} }
	&.right-2 { :is(td, th):nth-child(2){text-align: right;} }

	&.weapons {
		font-size: var(--fs-300);
		:is(td, th):nth-child(1){text-align: left;}
		:is(td, th):nth-child(2){text-align: left;}
	}

	caption {font-style: italic; caption-side: bottom; margin: .25em 0;}
}

fieldset {
	border: 1px solid var(--grey-700); border-radius: 0.75em; padding: 0.25em 0.5em 0.5em; break-inside: avoid; 
	legend { padding: 0 0.5em; font-weight: bold; font-family: var(--ff-accent); font-size: var(--fs-500); }
	//&.widget legend {font-size: var(--fs-400); font-weight: 500;}
	&.flow { > :nth-child(2) {margin-top: 0;} }

	&.widget {
		background-color: rgb(255, 250, 244);
		legend { font-size: var(--fs-400) }
	}
}

// Tiny MCE
//#tinymce { outline: none; }
